@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');
:root {
    --primaryViolet: #5e42a6;
    --navColor: #312450;
    --firstBg: #5052b5;
    --secondBg: #4c4eac;
    --thirdBg: #484aa3;
    --fourthBg: #b74e91;
    --fifthBg: #5342a6; /* rgb(83, 66, 166) */
    --footerBg: #493382; /* rgb(73, 51, 130) */
    --white: #fff;
    --border: #765eb3;
    --lightGray: rgba(211, 211, 211,.7);
    --borderLightGray: rgba(211, 211, 211,.3);
    --transition: .3s ease;
}
/**********************
general styles
**********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--white);  
}
h1,h2,h3, h4 {
    font-family: 'Barlow', sans-serif;
}
p {
    color: var(--lightGray);
}
a {
    text-decoration: none;
    transition: var(--transition);
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}
.py {
    padding: 80px 0;
}
button {
    text-transform: uppercase;
    padding: 26px 52px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--border);
    font-size: 1.1rem;
    letter-spacing: 3px;
    transition: var(--transition);
}
button:hover {
    border-color: var(--primaryViolet);
    background-color: rgba(255,255,255,.3);
}
/**********************
aside
**********************/
aside {
    background-color: var(--navColor);
    height: 100vh;
    width: 25%;
    position: fixed;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
aside img {
    width: 100%;
    margin-bottom: 30px;
}
aside ul li {
    padding-bottom: 40px;
}
aside ul li a {
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 2px;
    position:relative;
    display: block;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primaryViolet);
}
aside ul li a:hover {
    color: var(--lightGray);
    border-bottom-color: var(--fourthBg);
}
aside div a {
    color: var(--white);
    margin-left: 20px;
    font-size: 2.2rem;
}
aside div a:hover {
    color: var(--fourthBg);
}
/**********************
main
**********************/
main {
    margin-left: 25%;
}
/**********************
welcome
**********************/
.welcome {
    height: 100vh;
    background: linear-gradient(rgba(83, 66, 166,.9),rgba(83, 66, 166,.9)), url(img/circle.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome h1 {
    font-size: 5.8rem;
}
.welcome p {
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 40px 0;
}
/**********************
whoWeAre
**********************/
.whoWeAre article {
    display: flex;
    align-items: center;
}
.whoWeAre article .img {
    flex: 0 0 30%;
    line-height: 0;
}
.whoWeAre article img {
    width: 100%;
}
.whoWeAre article .text {
    flex: 0 0 70%;
    padding: 4%;
}
.whoWeAre article:nth-child(1) {
    background-color: var(--firstBg);
}
.whoWeAre article:nth-child(2) {
    background-color: var(--secondBg);
}
.whoWeAre article:nth-child(3) {
    background-color: var(--thirdBg);
}
.whoWeAre h3 {
    font-size: 2.6rem;
}
.whoWeAre p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 30px 0;
}
/**********************
whatWeDo
**********************/
.whatWeDo {
    background-color: var(--fourthBg);
}
.whatWeDo h2 {
    font-size: 3.2rem;
    line-height: 1;
}
.whatWeDo article > p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 30px 0;
}
.whatWeDo table, td {
    border-collapse: collapse;
    border: 2px solid var(--borderLightGray);
    padding: 60px 25px;
    background-color: rgba(255,255,255,.075);
}
.whatWeDo table {
    margin-bottom: 40px;
}
.whatWeDo .icon {
    float: left;
    width: 20%;
    margin-top: 8px;
}
.whatWeDo .i {
    width: 56px;
    height: 56px;
    border: 1px solid var(--lightGray);
    border-radius: 50%;
    line-height: 72px;
    text-align: center;
    background-color: var(--white);
    margin: auto;
}
.whatWeDo i {
    font-size: 2.45rem;
    color: var(--fourthBg);
}
.whatWeDo .text {
    float: right;
    width: 80%;
    padding-right: 3.5%;
}
.whatWeDo h4 {
    font-size: 1.4rem;
}
.whatWeDo p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding-top: 5px;
}
.whatWeDo button {
    border-color: var(--borderLightGray);
}
/**********************
getInTouch
**********************/
.getInTouch {
    background-color: var(--footerBg);
}
.getInTouch h2 {
    font-size: 3.2rem;
    line-height: 1;
}
.getInTouch article > p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 30px 0;
}
.getInTouch article:last-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.getInTouch form {
    flex: 0 0 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.getInTouch input,
.getInTouch textarea {
    color: var(--white);  
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    margin-bottom: 30px;
}
.getInTouch input {
    flex: 0 0 48%;
}
.getInTouch textarea {
    font-family: 'Lato', sans-serif;
    flex: 0 0 100%;
}
.getInTouch input::placeholder,
.getInTouch textarea::placeholder {
    color: var(--lightGray);
}
.getInTouch .contact {
    flex: 0 0 33%;
    border-left: 1px solid var(--borderLightGray);
    padding-left: 25px;
}
.getInTouch dt {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 20px 0;
}
.getInTouch dt:first-child {
    padding-top: 0;
}
.getInTouch dd {
    color: var(--lightGray);
    font-size: 1.3rem;
    padding: 10px 0;
}
/**********************
footer
**********************/
footer {
    background-color: var(--thirdBg);
    padding: 35px;
    text-align: center; 
    font-size: 1.3rem;
}

/**********************
RESPONSIVE
**********************/
@media (max-width: 768px) {
    /*** general ***/
    button {
        padding: 22px 45px; 
        letter-spacing: 2px;
        font-size: 1.05rem;
    }
    .py {
        padding: 60px 0;
    }
    /*** aside ***/
    aside {
        height: 90vh;
        width: 100%;
        position: static;
        padding: 20px;
    }
    aside img {
        width: 80%;
        margin-bottom: 20px;
    }
    aside ul li {
        padding-bottom: 25px;
    }
    /*** main ***/
    main {
        margin-left: 0;
    }
    /*** welcome ***/
    .welcome {
        height: auto;
        padding: 60px 0;
    }
    .welcome h1 {
        font-size: 3rem;
        line-height: 1;
    }
    .welcome p {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 30px 0;
    }
    /*** whoWeAre ***/
    .whoWeAre article {
        flex-direction: column;
    }
    .whoWeAre article .text {
        text-align: center;
    }
    .whoWeAre h3 {
        font-size: 2rem;
    }
    .whoWeAre p {
        font-size: 1.2rem;
        padding: 20px 0;
    }
    .whoWeAre button {
        margin-bottom: 40px;
    }
    /*** whatWeDo ***/
    .whatWeDo {
        text-align: center;
    }
    .whatWeDo h2 {
        font-size: 2.4rem;
    }
    .whatWeDo article > p {
        font-size: 1.2rem;
    }
    .whatWeDo td {
        display: block;
        padding: 0;
    }
    .whatWeDo .icon,
    .whatWeDo .text {
        float: none;
        width: 100%;
    }
    .whatWeDo .icon{
        padding-top: 20px;
    }
    .whatWeDo .text {
        padding: 20px 10px;
    }
    .whatWeDo p {
        font-size: 1.2rem;
    }
    /*** getInTouch ***/
    .getInTouch {
        text-align: center;
    }
    .getInTouch h2 {
        font-size: 2.4rem;
    }
    .getInTouch article > p {
        font-size: 1.2rem;
    }
    .getInTouch form {
        flex: 0 0 100%;
    }
    .getInTouch input {
        flex: 0 0 100%;
    }
    .getInTouch input,
    .getInTouch textarea {  
    padding: 15px;
    font-size: 1.1rem;
    }
    .getInTouch button {
        margin: 0 auto 30px;
    }
    .getInTouch .contact {
        flex: 0 0 100%;
        border-top: 1px solid var(--borderLightGray);
        border-left: none;
        padding-left: 0;
        padding-top: 30px;
    }
    .getInTouch dt {
        font-size: 1.3rem;
        padding: 20px 0 10px;
    }
    .getInTouch dd {
        font-size: 1.2rem;
        padding: 5px 0;
    }
}
