@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');
:root {
    --primaryViolet: #5e42a6;
    --navColor: #312450;
    --firstBg: #5052b5;
    --secondBg: #4c4eac;
    --thirdBg: #484aa3;
    --fourthBg: #b74e91;
    --fifthBg: #5342a6; /* rgb(83, 66, 166) */
    --footerBg: #493382;
    --white: #fff;
    --border: #765eb3;
    --lightGray: rgba(211, 211, 211,.7);
    --borderLightGray: rgba(211, 211, 211,.3);
    --transition: .3s ease;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
h1,h2,h3, h4 {
    font-family: 'Barlow', sans-serif;
}
a {
    text-decoration: none;
    transition: var(--transition);
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}
button {
    text-transform: uppercase;
    padding: 26px 52px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--border);
    font-size: 1.1rem;
    letter-spacing: 3px;
    transition: var(--transition);
}
button:hover {
    border-color: var(--primaryViolet);
    background-color: rgba(255,255,255,.3);
}
/**********************
aside
**********************/
aside {
    background-color: var(--navColor);
    height: 100vh;
    width: 25%;
    position: fixed;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
aside img {
    width: 100%;
    margin-bottom: 30px;
}
aside ul li {
    padding-bottom: 40px;
}
aside ul li a {
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 2px;
    position:relative;
    display: block;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primaryViolet);
}
aside ul li a:hover {
    color: var(--lightGray);
    border-bottom-color: var(--fourthBg);
}
aside div a {
    color: var(--white);
    margin-left: 20px;
    font-size: 2.2rem;
}
aside div a:hover {
    color: var(--fourthBg);
}
/**********************
main
**********************/
main {
    margin-left: 25%;
}
/**********************
welcome
**********************/
.welcome {
    height: 100vh;
    background: linear-gradient(rgba(83, 66, 166,.9),rgba(83, 66, 166,.9)), url(img/circle.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.welcome h1 {
    font-size: 5.8rem;
    color: var(--white);
}
.welcome p {
    font-size: 1.6rem;
    color: var(--lightGray);
    line-height: 1.8;
    padding: 40px 0;
}
/**********************
whoWeAre
**********************/
.whoWeAre article {
    display: flex;
    align-items: center;
}
.whoWeAre article .img {
    flex: 0 0 30%;
    line-height: 0;
}
.whoWeAre article img {
    width: 100%;
}
.whoWeAre article .text {
    flex: 0 0 70%;
    color: var(--white);
    padding: 4%;
}
.whoWeAre article:nth-child(1) {
    background-color: var(--firstBg);
}
.whoWeAre article:nth-child(2) {
    background-color: var(--secondBg);
}
.whoWeAre article:nth-child(3) {
    background-color: var(--thirdBg);
}
.whoWeAre h3 {
    font-size: 2.6rem;
}
.whoWeAre p {
    font-size: 1.3rem;
    color: var(--lightGray);
    line-height: 1.6;
    padding: 30px 0;
}
